<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <section class="hero is-landing is-fullheight">
    <div class="hero-head">
      <%- include('./partials/navbar.ejs') %>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title is-1 has-text-light">
            Contact-ar
          </h1>
          <h2 class="subtitle has-text-light">
            Juntos logramos la sinergia que nos garantiza un resultado superior y a nuestros clientes un mayor nivel de recupero de su cartera </h2>
        </div>
      </div>
    </div>
  </section>
  <script async type="text/javascript" src="../js/navbar.js"></script>
</body>

</html>