<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/2eb5f97af6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Hola Mundo!</title>
</head>

<body>
  <section class="section">
    <container class="container">
      <h1 class="title is-1 has-text-link has-text-centered">ACA EMPIEZA TODO</h1>
    </container>
  </section>
</body>

</html>